.index_img{
    height:75vh;
    width: 100%;
    object-fit: cover;

}

.index_button{
    display: block;
    text-align: center;
}

/* @media screen and (min-width: 800px) {
    .index_img{
        max-height:60vh;
    }
} */