/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3{
    color: black;
}
header{
    background-color: #c8c6c6;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;    
}
img{
    vertical-align: sub;
}
.cont_card{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}
.card_hike{
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
    margin: 20px;
}

.card_hike_pict{
    height: 50%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card_hike_txt{
    background-color: rgb(43, 40, 40);
    color:rgb(255, 255, 255);
    font-weight: bold;
    height: 50%;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.card_tittle{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}